.login-view{
    background:none;
}
.page-main{
    background-position: center center;
  	background-size: cover;
    background-attachment:fixed;
    background-image:url(https://raw.githubusercontent.com/yudai1204/imagefiles/main/FTBGFG1VUAAY4KK.jpg);
    background-color:#EDF3F7AA;
    background-blend-mode:lighten;
}
